.carousel-container {
  text-shadow: 1px 1px 3px black;
}

.carousel-left-container {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 10px;

  font-family: Bebas Neue;
  font-size: 24px;

  width: 100%;
}

.carousel-title-info {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.carousel-title-tag {
  font-size: 12px;
  height: 21px;

  text-align: center;
  padding-top: 1px;

  align-self: center;
  width: 42px;

  margin-bottom: 6px;
  margin-right: 0;

  font-family: 'PT Sans';
  box-shadow: 4px 4px 5px rgb(52, 52, 52);
}

.carousel-right-container {
  position: absolute;
  top: 0;

  right: 0;
  padding: 10px;
}

/*text-shadow: 1px 1px 3px black;*/
@media only screen and (max-width: 720px) {
  .carousel-left-container {
    background-color: lightblue;
    display: none !important;
  }

  .carousel-right-container {
    left: 0;
    right: unset;
  }
}