@import './vars.sass'
@import './flex.sass'

html, body
  
  color: #373737

  font-family: $DEFAULT_FONT

.movie
  &.parent
    display: flex
    flex-direction: row

    gap: 20px
    flex-wrap: wrap

    justify-content: center
  
  .container
    display: inline-block

    .poster
      width: 220px
      height: 340px

      border-radius: 10px
      transition: ease-in-out

      transition-duration: .2s
      cursor: pointer

      border: none

      &:hover
        transform: translateY(-5px)
        box-shadow: 5px 3px 10px #202020

  img
    border-radius: 10px

.header
  text-align: center
  font-family: $DEFAULT_FONT

video
  max-width: 100%
  height: auto